<div class="container">

	<div id="intro" ng-class="goAway ? 'goAway' : ''">
		<form>
			<div class="small-nav">
				<h1 class="logo">Dash</h1>
				<a class="aboutUs" ng-click="aboutOpen = true">?</a>
			</div>
			<fieldset id="inputs">
				<!-- <input id="origin" type="text" placeholder="Start" value="Current Location">    -->
				<input id="destination" ng-model="address"  ng-class="red ? 'red' : ''" type="text" placeholder="Destination" required>
			</fieldset>
			<fieldset id="actions">
				<a id="submit" class="button" ng-click="grabDestination()">
					Let's go
				</a>
			</fieldset>
			<div>{{error1}}</div>
		</form>
	</div>

	<div id="about" ng-class="aboutOpen ? 'aboutOpen' : ''">
		<div class="wrap">
			<div class="small-nav">
				<span class="logo">Dash</span>
				<a class="aboutUs" ng-click="aboutOpen = false">X</a>
			</div>
			<div class="description">
				Navigate every day without staring at your phone screen.
				<br><br>
				Start by entering your destination. We'll take care of the rest.
				<br><br>
				Stop looking up directions, let's go places.
			</div>
		</div>
	</div>

	<nav class="top-bar">
		<div class="wrap">
			<a id="back" ng-click="goAway = false">&#8592;</a>
			<div class="small-nav">
				<span class="logo">Dash</span>
				<a class="aboutUs" ng-click="aboutOpen = true">?</a>
			</div>
		</div>
	</nav>
  <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.3"></script>

  <script type="text/javascript">
     var myMap = null;

     function LoadMap()
     {
        myMap = new VEMap("mapDiv");
        myMap.LoadMap();
     }
  
     function UnloadMap()
     {
        if (myMap != null) {
           myMap.Dispose();
        }
     }
  </script>
   <body onload="LoadMap()" onunload="UnloadMap()">
      <div style="position:relative;width:640px;height:480px;" id="mapDiv" />
   </body>

</div>