@import url(http://fonts.googleapis.com/css?family=Princess+Sofia);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

body {
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    font-size: 2em;
}
.wrap {
    margin: 0 0.5em;
}
a:hover {
    cursor: pointer;
    background: rgb(57, 107, 237) !important;

    transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

#intro {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(31, 30, 30);
    padding-top: 4em;
    z-index: 10;

    transition: top .2s linear;
    -webkit-transition: top .2s linear;
    -moz-transition: top .2s linear;
    -ms-transition: top .2s linear;
    -o-transition: top .2s linear;
}

#intro.goAway {
    top: -120%;
}

#intro h1 {
    display: inline;
    font-family: Princess Sofia;
    font-size: 3em;
}

.about {
    background: rgb(18, 205, 113);
    border-radius: 100%;
    height: 1.2em;
    width: 1.2em;
    font-size: .8em;
    display: inline-block;
    position: relative;
    top: -.5em;
    margin-left: .3em;
}

fieldset {
    border: 0;
    padding: 0;
    margin:  0 auto;
    margin-top: 0.5em;
}

#origin, #destination {
    border: 0;
    padding: 0.5em 0.7em;
    display: block;
    margin: 0.3em auto;
    font-size: 1em;
    max-width: 320px;
    border-radius: 5px;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
}

fieldset#actions {
    margin-top: 1em;
}

.button {
    background: rgb(18, 205, 113);
    padding: .5em 1em;
    display: inline-block;
    border-radius: 5px;
}

.top-bar {
    background: rgb(69, 170, 255);
    background: rgb(18, 205, 113);
    overflow:hidden;
}
#back {
    float: left;
    font-size: 1.3em;
    background: none !important;
}
.logo span {
    font-family: Princess Sofia;
}
.top-bar .logo .about {
    margin-top 1em;
    float: right;
    top: 0.3em;
    font-size: .9em;
    background: none !important;
}
